{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <h2>This is Home Page</h2>

    <br>

    <ul>
        <li>
            <a href="{{ path('family_index') }}"> family </a>
        </li>
        <li>
        <a href="{{ path('instrument_index') }}"> instrument </a>
        </li>
    </ul>

{% endblock %}
